<!DOCTYPE html>
<html lang="$lang" 
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>$title</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- menu reponsive -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <li class="dropdown">
                    <a py:if="uts" class="dropdown-toggle" data-toggle="dropdown" href="#">UNIDADES<span class="caret"></span></a>
                    <ul py:for="ut in uts" class="dropdown-menu">
                        <li ><a href="../l1_${ut.number}/chapter.html">${ut.block.string}</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </nav>
</body>
</html>