<?python
import templates.basic.python.mentor_genshi_functions as MGF
?>
<div xmlns:py="http://genshi.edgewall.org/" py:for="con in content">
    <py:choose>
        <!-- headers -->
        <py:when test="con.type == 0">
            ${MGF.create_headers_html(con.level,con.string)}
        </py:when>
         <!-- paragraph -->
        <py:when test="con.type == 1">
            <p>${con.string}</p>
        </py:when>
         <!-- remarks -->
        <py:when test="con.type == 2">
            <div class="remarks ${MGF.remark_category_class(con.category)}">
                <p py:for="par in con.paragraphs">${par.string}</p>
            </div>
        </py:when>
    </py:choose>
</div>
