<?python
import mentor_type_objects as MT
?>
<div xmlns:py="http://genshi.edgewall.org/" py:def="render_elements(input)" py:strip="">
    <div py:for="obj in input" py:strip="">
        <py:choose>
            <py:when test="obj.type == MT.PARAGRAPH_TYPE">
                <p>${render_elements(obj.inner_objects)}</p>
            </py:when>
            <py:when test="obj.type == MT.TEXT_TYPE">
                ${obj.string}
            </py:when>
            <py:when test="obj.type == MT.FOOTNOTE_TYPE">
                <a class="footnote-citation">${obj.citation}</a> 
            </py:when>
            <py:when test="obj.type == MT.SPAN_TYPE">
                ${render_elements(obj.inner_objects)}
            </py:when>
            <py:when test="obj.type == MT.LIST_TYPE">
                <py:if test="obj.kind == 1">
                    <ul>
                    ${render_elements(obj.inner_objects)}
                    </ul>
                </py:if>
                <py:if test="obj.kind == 2">
                    <ol>
                    ${render_elements(obj.inner_objects)}
                    </ol>
                </py:if>
            </py:when>
             <py:when test="obj.type == MT.LIST_ITEM_TYPE">
                <li>
                ${render_elements(obj.inner_objects)}
                </li>
            </py:when>
            <py:when test="obj.type == MT.LINK_TYPE">
                <a href="${obj.link}">${render_elements(obj.inner_objects)}</a>
            </py:when>
            <py:when test="obj.type == MT.MARKER_TYPE">
                <a name="${obj.name}">${render_elements(obj.inner_objects)}</a>
            </py:when>
            <py:otherwise>
                <span class="mentor-notsupported-span">ELEMENTO NO SOPORTADO</span>
            </py:otherwise>
        </py:choose>
    </div>
</div>